# Python
__pycache__/
*.pyc
.venv/
venv/

# LaTeX (archivos auxiliares de compilación, no el .tex fuente)
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db